/*@mixin flex-center($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}*/

header {
    height: 100vh;
    .header-blue {
        color: $text-color;
        background: lightblue;
    }
    .button {
        &::after {
            content: "Helllloooo";
        }
    }
    .btn-primary {
        background: $primary-btn;
    }
}